* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #9acd32;

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #efefef;
  color: #555;
}

.header, .main, .footer {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
}

.header, .footer {
  height: 50px;
  display: flex;
  align-items: center;
}

.header {
  border-top: 0;

  a.logo {
    color: #999;
    text-decoration: none;
  }

  a.logo h1 {
    font-size: 20px;
  }
}

.main {
  flex-grow: 1;
}

.footer {
  margin-bottom: 0;
  border-bottom: 0;
  justify-content: center;

  p {
    color: #999;
    font-size: 14px;
  }
}

.bar {
  font-size: 18px;
  display: flex;
  justify-content: space-between;

  .score, .time {
    margin-bottom: 7px;
  }

  .score {
    margin-left: 5px;
  }

  .time {
    margin-right: 5px;
  }
}

.display {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;

  table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;

    td {
      border: 1px solid #fff;
      position: relative;
      background-color: #eee;
    }

    td > div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    td:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    td.show {
      background-color: $primary-color;
    }
  }
}
  .joystick {
    display: none;


    flex-direction: column;
    padding: 10px 0;

    .top {
      display: flex;
      justify-content: space-around;
      margin-bottom: -7px;
    }

    .middle {
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
    }

    .bottom {
      display: flex;
      justify-content: space-around;
      margin-top: -7px;
    }

    .left-btn, .right-btn, .up-btn, .down-btn {
      background-color: $primary-color;
      border-radius: 50%;
      height: 65px;
      width: 65px;
      line-height: 67px;
      text-align:center;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    }
  }


@media only screen and (max-device-width: 700px) {
  .header, .main, .footer {
    margin-bottom: 0;
    padding: 10px 0;
    border: 0;
  }

  .header {
    background-color: $primary-color;
  }

  .footer {
    display: none;
  }

  .bar {
    font-size: 16px;
  }

  .display {
    padding-left: 3px;
    padding-right: 3px;
  }

  .joystick {
    display: flex;
  }
}

//@media only screen and (orientation: landscape) {
//  .display {
//    width: 320px;
//  }
//}