* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

body {
  font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #efefef;
  color: #555; }

.header, .main, .footer {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff; }

.header, .footer {
  height: 50px;
  display: flex;
  align-items: center; }

.header {
  border-top: 0;
  justify-content: space-between; }
  .header a.logo {
    color: #999;
    text-decoration: none; }
  .header a.logo h1 {
    font-size: 20px; }

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

.footer {
  margin-bottom: 0;
  border-bottom: 0;
  justify-content: center; }
  .footer p {
    color: #999;
    font-size: 14px; }

.bar {
  font-size: 18px;
  display: flex;
  justify-content: space-between; }
  .bar .score, .bar .time {
    margin-bottom: 7px; }
  .bar .score {
    margin-left: 5px; }
  .bar .time {
    margin-right: 5px; }

.display {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .display table {
    border-collapse: collapse;
    margin: auto;
    width: 100%; }
    .display table td {
      border: 1px solid #fff;
      position: relative;
      background-color: #eee; }
    .display table td > div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .display table td:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .display table td.show {
      background-color: #9acd32; }
  .display .gameover {
    z-index: 100;
    position: absolute;
    color: #9acd32;
    border-radius: 4px;
    display: none; }
    .display .gameover:before {
      background-color: rgba(255, 255, 255, 0.65);
      content: "GAME OVER";
      font-size: 50px;
      font-weight: bold;
      padding: 1px 5px; }

.joystick {
  display: none;
  flex-direction: column;
  padding: 10px 0; }
  .joystick .top {
    display: flex;
    justify-content: space-around;
    margin-bottom: -7px; }
  .joystick .middle {
    display: flex;
    justify-content: space-around;
    padding: 0 30px; }
  .joystick .bottom {
    display: flex;
    justify-content: space-around;
    margin-top: -7px; }
  .joystick .btn {
    background-color: #9acd32;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    line-height: 67px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .joystick .btn-active {
    background-color: #d7ebad; }

@media only screen and (max-device-width: 700px) {
  .header, .main, .footer {
    margin-bottom: 0;
    padding: 10px 0;
    border: 0; }

  .header {
    padding: 0 10px;
    background: linear-gradient(to top, #aed75b, #9acd32);
    height: 53px; }
    .header a.logo {
      color: #ffffef; }

  .main {
    padding-top: 7px; }

  .footer {
    display: none; }

  .bar {
    font-size: 16px; }

  .display {
    padding: 3px; }
    .display .gameover:before {
      font-size: 2.5em; }

  .joystick {
    display: flex; } }

/*# sourceMappingURL=style.css.map */
